@model EPi.Owin.ShowCase.Web.Models.Pages.StartPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              @Html.PropertyFor(m => m.PageName)
        </div>
    </body>
</html>