@model EPi.Owin.ShowCase.Web.Models.Pages.StartPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            <h1>Welcome to start page!</h1>
            <p>@Html.PropertyFor(m => m.PageName)</p>
        </div>
    </body>
</html>